@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1rem;
  font-size: clamp(1rem, 0.84rem + 0.8vw, 1.8rem);
}

html {
  min-height: 100%;
  min-height: -webkit-fill-available;
  height: 100%;
}

@layer components {
  .button {
    @apply font-bold tracking-wider border-4 whitespace-nowrap shadow-[4px_4px_0_0_rgba(192,192,192,0.9)] duration-200 active:duration-[20ms];
  }
  .buttonDown {
    @apply shadow-[0px_0px_0_0_rgba(192,192,192,0)] translate-x-[4px] translate-y-[4px];
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.instagramBG {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.dashBorderAnim {
  display: grid;
  place-content: center;
  overflow: clip;
  overflow-clip-margin: 0.3em; //Doesn't work with safari
  border: 0.3em dotted rgb(225, 225, 225);
  backdrop-filter: brightness(0.5);
  box-shadow: 0px 0px 0px 0.1em rgb(201, 201, 201);
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: inherit;
    box-shadow: inset 0px 0px 0px 0.1em rgb(201, 201, 201);
  }
  &:before {
    content: '';
    background: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg 9deg, #d45770 9deg 18deg, rgba(0, 0, 0, 0) 18deg 27deg, #5892c2 27deg 36deg);
    animation: rotate 30s linear infinite;
    animation-direction: inherit;
    border-radius: inherit;
    position: absolute;
    aspect-ratio: 1/1;
    width: 150%;
    display: flex;
    justify-self: center;
    align-self: center;
  }
}
